--
-- PostgreSQL database dump
--

\restrict GiZAoPgKAE95RzyFbUJ35lGK0Q2SOnuPhm2LcgyhhYX2ujQj3NsNvfxmPvEZZLc

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP POLICY IF EXISTS rls_patient_consents_update ON public.patient_consents;
DROP POLICY IF EXISTS rls_patient_consents_select ON public.patient_consents;
DROP POLICY IF EXISTS rls_patient_consents_insert ON public.patient_consents;
DROP POLICY IF EXISTS p_users_view_approved_doctors ON public.users;
DROP POLICY IF EXISTS p_users_super_admin ON public.users;
DROP POLICY IF EXISTS p_users_self ON public.users;
DROP POLICY IF EXISTS p_users_pharmacist_patient_access ON public.users;
DROP POLICY IF EXISTS p_users_clinic_staff ON public.users;
DROP POLICY IF EXISTS p_records_super_admin ON public.records;
DROP POLICY IF EXISTS p_records_patient_access ON public.records;
DROP POLICY IF EXISTS p_records_clinic_access ON public.records;
DROP POLICY IF EXISTS p_prescriptions_super_admin ON public.prescriptions;
DROP POLICY IF EXISTS p_prescriptions_pharmacist ON public.prescriptions;
DROP POLICY IF EXISTS p_prescriptions_patient_select ON public.prescriptions;
DROP POLICY IF EXISTS p_prescriptions_org_staff ON public.prescriptions;
DROP POLICY IF EXISTS p_prescription_items_super_admin ON public.prescription_items;
DROP POLICY IF EXISTS p_prescription_items_scoped ON public.prescription_items;
DROP POLICY IF EXISTS p_prescription_items_pharmacist ON public.prescription_items;
DROP POLICY IF EXISTS p_practitioner_attestations_update ON public.practitioner_attestations;
DROP POLICY IF EXISTS p_practitioner_attestations_select ON public.practitioner_attestations;
DROP POLICY IF EXISTS p_practitioner_attestations_insert ON public.practitioner_attestations;
DROP POLICY IF EXISTS p_ppb_premises_write ON public.ppb_premises;
DROP POLICY IF EXISTS p_ppb_premises_read ON public.ppb_premises;
DROP POLICY IF EXISTS p_payments_tenant_access ON public.payments;
DROP POLICY IF EXISTS p_payments_super_admin ON public.payments;
DROP POLICY IF EXISTS p_nck_registry_write ON public.nck_registry;
DROP POLICY IF EXISTS p_nck_registry_read ON public.nck_registry;
DROP POLICY IF EXISTS p_memberships_super_admin ON public.tenant_memberships;
DROP POLICY IF EXISTS p_memberships_self ON public.tenant_memberships;
DROP POLICY IF EXISTS p_memberships_clinic_access ON public.tenant_memberships;
DROP POLICY IF EXISTS p_licenses_tenant_admin ON public.licenses;
DROP POLICY IF EXISTS p_licenses_super_admin ON public.licenses;
DROP POLICY IF EXISTS p_dispense_logs_super_admin ON public.dispense_logs;
DROP POLICY IF EXISTS p_dispense_logs_scoped ON public.dispense_logs;
DROP POLICY IF EXISTS p_blocks_super_admin ON public.blocks;
DROP POLICY IF EXISTS p_blocks_clinic_access ON public.blocks;
DROP POLICY IF EXISTS p_audit_logs_update ON public.audit_logs;
DROP POLICY IF EXISTS p_audit_logs_super_admin ON public.audit_logs;
DROP POLICY IF EXISTS p_audit_logs_patient_access ON public.audit_logs;
DROP POLICY IF EXISTS p_audit_logs_insert ON public.audit_logs;
DROP POLICY IF EXISTS p_audit_logs_clinic_access ON public.audit_logs;
DROP POLICY IF EXISTS p_appointments_super_admin ON public.appointments;
DROP POLICY IF EXISTS p_appointments_patient_access ON public.appointments;
DROP POLICY IF EXISTS p_appointments_clinic_access ON public.appointments;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.tenant_memberships DROP CONSTRAINT IF EXISTS tenant_memberships_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.tenant_memberships DROP CONSTRAINT IF EXISTS tenant_memberships_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.records DROP CONSTRAINT IF EXISTS records_patient_id_fkey;
ALTER TABLE IF EXISTS ONLY public.records DROP CONSTRAINT IF EXISTS records_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.records DROP CONSTRAINT IF EXISTS records_doctor_id_fkey;
ALTER TABLE IF EXISTS ONLY public.prescriptions DROP CONSTRAINT IF EXISTS prescriptions_patient_id_fkey;
ALTER TABLE IF EXISTS ONLY public.prescriptions DROP CONSTRAINT IF EXISTS prescriptions_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.prescriptions DROP CONSTRAINT IF EXISTS prescriptions_doctor_id_fkey;
ALTER TABLE IF EXISTS ONLY public.prescription_items DROP CONSTRAINT IF EXISTS prescription_items_prescription_id_fkey;
ALTER TABLE IF EXISTS ONLY public.prescription_items DROP CONSTRAINT IF EXISTS prescription_items_dispensed_by_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.prescription_items DROP CONSTRAINT IF EXISTS prescription_items_dispensed_by_org_id_fkey;
ALTER TABLE IF EXISTS ONLY public.practitioner_attestations DROP CONSTRAINT IF EXISTS practitioner_attestations_practitioner_id_fkey;
ALTER TABLE IF EXISTS ONLY public.practitioner_attestations DROP CONSTRAINT IF EXISTS practitioner_attestations_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.patient_consents DROP CONSTRAINT IF EXISTS patient_consents_patient_id_fkey;
ALTER TABLE IF EXISTS ONLY public.patient_consents DROP CONSTRAINT IF EXISTS patient_consents_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.patient_consents DROP CONSTRAINT IF EXISTS patient_consents_doctor_id_fkey;
ALTER TABLE IF EXISTS ONLY public.nck_registry DROP CONSTRAINT IF EXISTS nck_registry_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.licenses DROP CONSTRAINT IF EXISTS licenses_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.kmpdc_registry DROP CONSTRAINT IF EXISTS kmpdc_registry_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.dispense_logs DROP CONSTRAINT IF EXISTS dispense_logs_prescription_id_fkey;
ALTER TABLE IF EXISTS ONLY public.dispense_logs DROP CONSTRAINT IF EXISTS dispense_logs_pharmacy_org_id_fkey;
ALTER TABLE IF EXISTS ONLY public.dispense_logs DROP CONSTRAINT IF EXISTS dispense_logs_pharmacist_id_fkey;
ALTER TABLE IF EXISTS ONLY public.dispense_logs DROP CONSTRAINT IF EXISTS dispense_logs_item_id_fkey;
ALTER TABLE IF EXISTS ONLY public.blocks DROP CONSTRAINT IF EXISTS blocks_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_patient_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_doctor_id_fkey;
ALTER TABLE IF EXISTS ONLY public.appointments DROP CONSTRAINT IF EXISTS appointments_patient_id_fkey;
ALTER TABLE IF EXISTS ONLY public.appointments DROP CONSTRAINT IF EXISTS appointments_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.appointments DROP CONSTRAINT IF EXISTS appointments_doctor_id_fkey;
DROP TRIGGER IF EXISTS trg_protect_production_organizations ON public.organizations;
DROP INDEX IF EXISTS public.idx_users_reset_token;
DROP INDEX IF EXISTS public.idx_users_patient_phone;
DROP INDEX IF EXISTS public.idx_users_org;
DROP INDEX IF EXISTS public.idx_users_email;
DROP INDEX IF EXISTS public.idx_users_doctor_phone;
DROP INDEX IF EXISTS public.idx_tenant_memberships_user;
DROP INDEX IF EXISTS public.idx_tenant_memberships_role;
DROP INDEX IF EXISTS public.idx_tenant_memberships_org;
DROP INDEX IF EXISTS public.idx_records_unmined;
DROP INDEX IF EXISTS public.idx_records_tx_hash;
DROP INDEX IF EXISTS public.idx_records_org;
DROP INDEX IF EXISTS public.idx_records_is_demo_data;
DROP INDEX IF EXISTS public.idx_records_ipfs_hash;
DROP INDEX IF EXISTS public.idx_prescriptions_status;
DROP INDEX IF EXISTS public.idx_prescriptions_qr_token;
DROP INDEX IF EXISTS public.idx_prescriptions_patient_id;
DROP INDEX IF EXISTS public.idx_prescriptions_org_id;
DROP INDEX IF EXISTS public.idx_prescriptions_doctor_id;
DROP INDEX IF EXISTS public.idx_prescription_items_rx_id;
DROP INDEX IF EXISTS public.idx_practitioner_attestations_practitioner;
DROP INDEX IF EXISTS public.idx_practitioner_attestations_org;
DROP INDEX IF EXISTS public.idx_practitioner_attestations_hash;
DROP INDEX IF EXISTS public.idx_ppb_premises_status;
DROP INDEX IF EXISTS public.idx_ppb_premises_license;
DROP INDEX IF EXISTS public.idx_ppb_premises_county;
DROP INDEX IF EXISTS public.idx_payments_user_id;
DROP INDEX IF EXISTS public.idx_payments_status;
DROP INDEX IF EXISTS public.idx_payments_reference;
DROP INDEX IF EXISTS public.idx_payments_org;
DROP INDEX IF EXISTS public.idx_payments_customer_email;
DROP INDEX IF EXISTS public.idx_payments_created_at;
DROP INDEX IF EXISTS public.idx_patient_consents_lookup;
DROP INDEX IF EXISTS public.idx_patient_consents_grantee;
DROP INDEX IF EXISTS public.idx_organizations_status;
DROP INDEX IF EXISTS public.idx_organizations_slug;
DROP INDEX IF EXISTS public.idx_organizations_org_type;
DROP INDEX IF EXISTS public.idx_nck_org_id;
DROP INDEX IF EXISTS public.idx_licenses_org;
DROP INDEX IF EXISTS public.idx_licenses_client_id;
DROP INDEX IF EXISTS public.idx_kmpdc_org_id;
DROP INDEX IF EXISTS public.idx_kmpdc_license_num;
DROP INDEX IF EXISTS public.idx_dispense_logs_rx_id;
DROP INDEX IF EXISTS public.idx_dispense_logs_org_id;
DROP INDEX IF EXISTS public.idx_dispense_logs_item_id;
DROP INDEX IF EXISTS public.idx_blocks_org_index;
DROP INDEX IF EXISTS public.idx_audit_logs_unmined;
DROP INDEX IF EXISTS public.idx_audit_logs_org_timestamp;
DROP INDEX IF EXISTS public.idx_audit_logs_org;
DROP INDEX IF EXISTS public.idx_audit_logs_event_type;
DROP INDEX IF EXISTS public.idx_appointments_org_date;
DROP INDEX IF EXISTS public.idx_appointments_org;
DROP INDEX IF EXISTS public.idx_appointments_doc_date_status;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.tenant_memberships DROP CONSTRAINT IF EXISTS uq_user_organization;
ALTER TABLE IF EXISTS ONLY public.tenant_memberships DROP CONSTRAINT IF EXISTS tenant_memberships_pkey;
ALTER TABLE IF EXISTS ONLY public.records DROP CONSTRAINT IF EXISTS records_pkey;
ALTER TABLE IF EXISTS ONLY public.prescriptions DROP CONSTRAINT IF EXISTS prescriptions_qr_token_key;
ALTER TABLE IF EXISTS ONLY public.prescriptions DROP CONSTRAINT IF EXISTS prescriptions_pkey;
ALTER TABLE IF EXISTS ONLY public.prescription_items DROP CONSTRAINT IF EXISTS prescription_items_pkey;
ALTER TABLE IF EXISTS ONLY public.practitioner_attestations DROP CONSTRAINT IF EXISTS practitioner_attestations_pkey;
ALTER TABLE IF EXISTS ONLY public.ppb_premises DROP CONSTRAINT IF EXISTS ppb_premises_pkey;
ALTER TABLE IF EXISTS ONLY public.ppb_premises DROP CONSTRAINT IF EXISTS ppb_premises_license_number_key;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_reference_key;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_pkey;
ALTER TABLE IF EXISTS ONLY public.patient_consents DROP CONSTRAINT IF EXISTS patient_consents_pkey;
ALTER TABLE IF EXISTS ONLY public.organizations DROP CONSTRAINT IF EXISTS organizations_slug_key;
ALTER TABLE IF EXISTS ONLY public.organizations DROP CONSTRAINT IF EXISTS organizations_pkey;
ALTER TABLE IF EXISTS ONLY public.organizations DROP CONSTRAINT IF EXISTS organizations_name_key;
ALTER TABLE IF EXISTS ONLY public.nck_registry DROP CONSTRAINT IF EXISTS nck_registry_pkey;
ALTER TABLE IF EXISTS ONLY public.nck_registry DROP CONSTRAINT IF EXISTS nck_registry_license_number_key;
ALTER TABLE IF EXISTS ONLY public.licenses DROP CONSTRAINT IF EXISTS licenses_pkey;
ALTER TABLE IF EXISTS ONLY public.kmpdc_registry DROP CONSTRAINT IF EXISTS kmpdc_registry_pkey;
ALTER TABLE IF EXISTS ONLY public.dispense_logs DROP CONSTRAINT IF EXISTS dispense_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.blocks DROP CONSTRAINT IF EXISTS blocks_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.appointments DROP CONSTRAINT IF EXISTS appointments_pkey;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.tenant_memberships;
DROP TABLE IF EXISTS public.records;
DROP TABLE IF EXISTS public.prescriptions;
DROP TABLE IF EXISTS public.prescription_items;
DROP TABLE IF EXISTS public.practitioner_attestations;
DROP TABLE IF EXISTS public.ppb_premises;
DROP TABLE IF EXISTS public.payments;
DROP TABLE IF EXISTS public.patient_consents;
DROP TABLE IF EXISTS public.organizations;
DROP TABLE IF EXISTS public.nck_registry;
DROP TABLE IF EXISTS public.licenses;
DROP TABLE IF EXISTS public.kmpdc_registry;
DROP TABLE IF EXISTS public.dispense_logs;
DROP TABLE IF EXISTS public.blocks;
DROP TABLE IF EXISTS public.audit_logs;
DROP TABLE IF EXISTS public.appointments;
DROP FUNCTION IF EXISTS public.protect_production_organizations();
DROP FUNCTION IF EXISTS public.is_super_admin();
DROP FUNCTION IF EXISTS public.is_pharmacist();
DROP FUNCTION IF EXISTS public.get_current_user_id();
DROP FUNCTION IF EXISTS public.get_current_org_id();
DROP EXTENSION IF EXISTS "uuid-ossp";
DROP EXTENSION IF EXISTS pgcrypto;
--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: get_current_org_id(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_current_org_id() RETURNS uuid
    LANGUAGE plpgsql STABLE SECURITY DEFINER
    AS $$
BEGIN
    RETURN NULLIF(current_setting('app.current_org_id', true), '')::uuid;
EXCEPTION WHEN OTHERS THEN
    RETURN NULL;
END;
$$;


--
-- Name: get_current_user_id(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_current_user_id() RETURNS uuid
    LANGUAGE plpgsql STABLE SECURITY DEFINER
    AS $$
BEGIN
    RETURN NULLIF(current_setting('app.current_user_id', true), '')::uuid;
EXCEPTION WHEN OTHERS THEN
    RETURN NULL;
END;
$$;


--
-- Name: is_pharmacist(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.is_pharmacist() RETURNS boolean
    LANGUAGE plpgsql STABLE SECURITY DEFINER
    AS $$
BEGIN
    RETURN COALESCE(current_setting('app.user_role', true), '') = 'pharmacist';
END;
$$;


--
-- Name: is_super_admin(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.is_super_admin() RETURNS boolean
    LANGUAGE plpgsql STABLE SECURITY DEFINER
    AS $$
BEGIN
    RETURN COALESCE(current_setting('app.user_role', true), '') = 'super_admin';
END;
$$;


--
-- Name: protect_production_organizations(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.protect_production_organizations() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Permit deletion only if the organization is explicitly named as a test fixture
    IF OLD.name NOT ILIKE '%test%' 
       AND OLD.name NOT ILIKE '%audit%' 
       AND OLD.name NOT ILIKE '%exptrial%' THEN
        RAISE EXCEPTION 'DATABASE SAFETY VIOLATION: Attempted to DELETE production organization "%" (ID: %). Deletion of real organizations is strictly prohibited.', OLD.name, OLD.id;
    END IF;
    RETURN OLD;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appointments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.appointments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    organization_id uuid,
    patient_id uuid NOT NULL,
    doctor_id uuid NOT NULL,
    patient_name character varying(255) NOT NULL,
    doctor_name character varying(255) NOT NULL,
    date character varying(100) NOT NULL,
    "time" character varying(100) NOT NULL,
    reason text NOT NULL,
    status character varying(50) DEFAULT 'Pending'::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT appointments_status_check CHECK (((status)::text = ANY ((ARRAY['Pending'::character varying, 'Confirmed'::character varying, 'Declined'::character varying, 'Completed'::character varying])::text[])))
);

ALTER TABLE ONLY public.appointments FORCE ROW LEVEL SECURITY;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    organization_id uuid,
    event_type character varying(100) NOT NULL,
    patient_id uuid,
    patient_name character varying(255),
    doctor_id uuid,
    doctor_name character varying(255),
    details text,
    "timestamp" timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    is_mined boolean DEFAULT false,
    block_index integer DEFAULT '-1'::integer,
    signature text
);

ALTER TABLE ONLY public.audit_logs FORCE ROW LEVEL SECURITY;


--
-- Name: blocks; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.blocks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    organization_id uuid,
    index integer NOT NULL,
    "timestamp" character varying(100) NOT NULL,
    records jsonb DEFAULT '[]'::jsonb,
    previous_hash character varying(255) NOT NULL,
    nonce bigint NOT NULL,
    hash character varying(255) NOT NULL
);

ALTER TABLE ONLY public.blocks FORCE ROW LEVEL SECURITY;


--
-- Name: dispense_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.dispense_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    prescription_id uuid NOT NULL,
    pharmacy_org_id uuid,
    pharmacist_id uuid,
    quantity_dispensed integer NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    item_id uuid,
    batch_number character varying(100),
    item_expiry_date date,
    CONSTRAINT dispense_logs_quantity_dispensed_check CHECK ((quantity_dispensed > 0))
);


--
-- Name: kmpdc_registry; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.kmpdc_registry (
    license_number character varying(50) NOT NULL,
    full_name character varying(255) NOT NULL,
    cadre character varying(100) DEFAULT 'Medical Practitioner'::character varying NOT NULL,
    specialization character varying(255) DEFAULT 'General Medicine'::character varying,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    retention_year integer DEFAULT 2026,
    facility character varying(255) DEFAULT 'National Health Service'::character varying,
    organization_id uuid,
    created_at timestamp with time zone DEFAULT now(),
    last_verified_at timestamp with time zone DEFAULT now(),
    CONSTRAINT kmpdc_registry_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'suspended'::character varying, 'expired'::character varying])::text[])))
);


--
-- Name: licenses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.licenses (
    client_id text NOT NULL,
    organization_id uuid,
    status text DEFAULT 'active'::text NOT NULL,
    expires_at timestamp with time zone,
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT licenses_status_check CHECK ((status = ANY (ARRAY['active'::text, 'disabled'::text, 'expired'::text, 'trial'::text, 'suspended'::text, 'pending_approval'::text])))
);

ALTER TABLE ONLY public.licenses FORCE ROW LEVEL SECURITY;


--
-- Name: nck_registry; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.nck_registry (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    license_number character varying(50) NOT NULL,
    full_name character varying(255) NOT NULL,
    cadre character varying(100) DEFAULT 'nurse'::character varying NOT NULL,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    valid_till date,
    facility character varying(255),
    created_at timestamp with time zone DEFAULT now(),
    last_verified_at timestamp with time zone DEFAULT now(),
    organization_id uuid
);


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.organizations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(100),
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    license_expires_at timestamp with time zone DEFAULT (now() + '30 days'::interval),
    max_doctors integer DEFAULT 25,
    max_patients integer DEFAULT 1000,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    org_type character varying(20) DEFAULT 'clinic'::character varying NOT NULL,
    ppb_license_number character varying(100),
    contact_phone character varying(50),
    physical_address text,
    CONSTRAINT organizations_org_type_check CHECK (((org_type)::text = ANY ((ARRAY['clinic'::character varying, 'pharmacy'::character varying])::text[]))),
    CONSTRAINT organizations_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'suspended'::character varying, 'trial'::character varying, 'disabled'::character varying, 'pending_approval'::character varying, 'expired'::character varying])::text[])))
);


--
-- Name: patient_consents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.patient_consents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    patient_id uuid NOT NULL,
    grantee_type character varying(20) NOT NULL,
    doctor_id uuid,
    organization_id uuid,
    scope character varying(50) DEFAULT 'full_record'::character varying NOT NULL,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    granted_at timestamp with time zone DEFAULT now() NOT NULL,
    expires_at timestamp with time zone,
    revoked_at timestamp with time zone,
    revocation_reason text,
    purpose text DEFAULT 'Clinical Care & Consultation'::text NOT NULL,
    transaction_hash character varying(66),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT patient_consents_grantee_type_check CHECK (((grantee_type)::text = ANY ((ARRAY['doctor'::character varying, 'organization'::character varying])::text[]))),
    CONSTRAINT patient_consents_scope_check CHECK (((scope)::text = ANY ((ARRAY['full_record'::character varying, 'diagnoses_only'::character varying, 'prescriptions_only'::character varying])::text[]))),
    CONSTRAINT patient_consents_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'revoked'::character varying, 'expired'::character varying])::text[])))
);


--
-- Name: payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    organization_id uuid NOT NULL,
    user_id uuid NOT NULL,
    reference character varying(120) NOT NULL,
    amount numeric(12,2) NOT NULL,
    amount_subunits integer NOT NULL,
    currency character varying(10) DEFAULT 'KES'::character varying NOT NULL,
    purpose character varying(50) DEFAULT 'license_renewal'::character varying NOT NULL,
    plan_days integer DEFAULT 30 NOT NULL,
    plan_name character varying(100) DEFAULT 'Standard Monthly Renewal'::character varying,
    status character varying(50) DEFAULT 'pending'::character varying NOT NULL,
    channel character varying(50) DEFAULT NULL::character varying,
    customer_email character varying(255) NOT NULL,
    paystack_response jsonb,
    blockchain_tx_hash character varying(255) DEFAULT NULL::character varying,
    paid_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT payments_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'success'::character varying, 'failed'::character varying, 'cancelled'::character varying])::text[])))
);


--
-- Name: ppb_premises; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ppb_premises (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    license_number text NOT NULL,
    premises_name text NOT NULL,
    physical_address text,
    county text,
    status text DEFAULT 'active'::text NOT NULL,
    issued_date date,
    expiry_date date,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT ppb_premises_status_check CHECK ((status = ANY (ARRAY['active'::text, 'suspended'::text, 'cancelled'::text])))
);


--
-- Name: practitioner_attestations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.practitioner_attestations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    practitioner_id uuid NOT NULL,
    organization_id uuid,
    regulator character varying(50) NOT NULL,
    cadre character varying(50) NOT NULL,
    license_number character varying(100) NOT NULL,
    license_hash character varying(64) NOT NULL,
    practitioner_public_key text NOT NULL,
    verified_at timestamp with time zone DEFAULT now() NOT NULL,
    expiry_date timestamp with time zone,
    attestation_hash character varying(64) NOT NULL,
    is_valid boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: prescription_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.prescription_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    prescription_id uuid NOT NULL,
    rxnorm_code character varying(100),
    medication_name character varying(255) NOT NULL,
    dosage character varying(100) NOT NULL,
    frequency character varying(100) NOT NULL,
    duration character varying(100) NOT NULL,
    quantity_prescribed integer NOT NULL,
    quantity_dispensed integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    batch_number character varying(100),
    expiry_date date,
    dispensed_by_org_id uuid,
    dispensed_by_user_id uuid,
    dispensed_at timestamp with time zone,
    CONSTRAINT prescription_items_quantity_dispensed_check CHECK ((quantity_dispensed >= 0)),
    CONSTRAINT prescription_items_quantity_prescribed_check CHECK ((quantity_prescribed > 0))
);


--
-- Name: prescriptions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.prescriptions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    patient_id uuid NOT NULL,
    doctor_id uuid NOT NULL,
    organization_id uuid NOT NULL,
    status character varying(50) DEFAULT 'ISSUED'::character varying NOT NULL,
    qr_token character varying(100) NOT NULL,
    instructions text,
    expires_at timestamp with time zone DEFAULT (now() + '30 days'::interval) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    override_justification text,
    CONSTRAINT prescriptions_status_check CHECK (((status)::text = ANY ((ARRAY['ISSUED'::character varying, 'PARTIALLY_FILLED'::character varying, 'FILLED'::character varying, 'CANCELLED'::character varying, 'EXPIRED'::character varying])::text[])))
);


--
-- Name: records; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.records (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    organization_id uuid,
    patient_id uuid NOT NULL,
    doctor_id uuid NOT NULL,
    doctor_name character varying(255) NOT NULL,
    diagnosis text NOT NULL,
    treatment text NOT NULL,
    prescriptions jsonb DEFAULT '[]'::jsonb,
    record_type character varying(50) DEFAULT 'medical'::character varying,
    symptoms text DEFAULT ''::text,
    notes text DEFAULT ''::text,
    lab_request text DEFAULT ''::text,
    consultation_hash character varying(255) DEFAULT ''::character varying,
    transaction_hash character varying(255) DEFAULT ''::character varying,
    ipfs_hash character varying(255) DEFAULT ''::character varying,
    signature text NOT NULL,
    doctor_public_key text NOT NULL,
    is_mined boolean DEFAULT false,
    block_index integer DEFAULT '-1'::integer,
    "timestamp" character varying(100) NOT NULL,
    is_demo_data boolean DEFAULT false NOT NULL,
    CONSTRAINT records_record_type_check CHECK (((record_type)::text = ANY ((ARRAY['medical'::character varying, 'consultation'::character varying])::text[])))
);

ALTER TABLE ONLY public.records FORCE ROW LEVEL SECURITY;


--
-- Name: tenant_memberships; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tenant_memberships (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    organization_id uuid NOT NULL,
    role character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    joined_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT tenant_memberships_role_check CHECK (((role)::text = ANY ((ARRAY['patient'::character varying, 'doctor'::character varying, 'admin'::character varying, 'super_admin'::character varying, 'pharmacist'::character varying])::text[]))),
    CONSTRAINT tenant_memberships_status_check CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying, 'pending'::character varying])::text[])))
);

ALTER TABLE ONLY public.tenant_memberships FORCE ROW LEVEL SECURITY;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    organization_id uuid,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    public_key text NOT NULL,
    private_key text NOT NULL,
    profile_photo text,
    patient_profile jsonb,
    doctor_profile jsonb,
    is_approved boolean DEFAULT true,
    is_rejected boolean DEFAULT false,
    reset_password_token character varying(255) DEFAULT NULL::character varying,
    reset_password_expires timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['patient'::character varying, 'doctor'::character varying, 'admin'::character varying, 'super_admin'::character varying, 'pharmacist'::character varying])::text[])))
);

ALTER TABLE ONLY public.users FORCE ROW LEVEL SECURITY;


--
-- Data for Name: appointments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: blocks; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: dispense_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: kmpdc_registry; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: licenses; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.licenses (client_id, organization_id, status, expires_at, updated_at) FROM stdin;
\.


--
-- Data for Name: nck_registry; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: patient_consents; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payments (id, organization_id, user_id, reference, amount, amount_subunits, currency, purpose, plan_days, plan_name, status, channel, customer_email, paystack_response, blockchain_tx_hash, paid_at, created_at, updated_at) FROM stdin;
357068be-cb54-481a-aa29-9d4d9a6f2e82	edca9647-0dfc-4058-a196-237cd083e714	fcdb47b0-c7fa-452b-807f-372a89f5277b	bhc_api-test-178876_1788768936122_1dc4b1	20000.00	2000000	KES	license_renewal	30	Standard Monthly Renewal	failed	\N	mutukualvin357@gmail.com	\N	\N	\N	2026-09-07 08:15:35.965+00	2026-09-07 08:15:38.846+00
\.


--
-- Data for Name: ppb_premises; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: practitioner_attestations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: prescription_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: prescriptions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: records; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.records (id, organization_id, patient_id, doctor_id, doctor_name, diagnosis, treatment, prescriptions, record_type, symptoms, notes, lab_request, consultation_hash, transaction_hash, ipfs_hash, signature, doctor_public_key, is_mined, block_index, "timestamp", is_demo_data) FROM stdin;
\.


--
-- Data for Name: tenant_memberships; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: appointments appointments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: blocks blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_pkey PRIMARY KEY (id);


--
-- Name: dispense_logs dispense_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dispense_logs
    ADD CONSTRAINT dispense_logs_pkey PRIMARY KEY (id);


--
-- Name: kmpdc_registry kmpdc_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kmpdc_registry
    ADD CONSTRAINT kmpdc_registry_pkey PRIMARY KEY (license_number);


--
-- Name: licenses licenses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_pkey PRIMARY KEY (client_id);


--
-- Name: nck_registry nck_registry_license_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nck_registry
    ADD CONSTRAINT nck_registry_license_number_key UNIQUE (license_number);


--
-- Name: nck_registry nck_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nck_registry
    ADD CONSTRAINT nck_registry_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_name_key UNIQUE (name);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_slug_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_slug_key UNIQUE (slug);


--
-- Name: patient_consents patient_consents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patient_consents
    ADD CONSTRAINT patient_consents_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: payments payments_reference_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_reference_key UNIQUE (reference);


--
-- Name: ppb_premises ppb_premises_license_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ppb_premises
    ADD CONSTRAINT ppb_premises_license_number_key UNIQUE (license_number);


--
-- Name: ppb_premises ppb_premises_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ppb_premises
    ADD CONSTRAINT ppb_premises_pkey PRIMARY KEY (id);


--
-- Name: practitioner_attestations practitioner_attestations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practitioner_attestations
    ADD CONSTRAINT practitioner_attestations_pkey PRIMARY KEY (id);


--
-- Name: prescription_items prescription_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prescription_items
    ADD CONSTRAINT prescription_items_pkey PRIMARY KEY (id);


--
-- Name: prescriptions prescriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_pkey PRIMARY KEY (id);


--
-- Name: prescriptions prescriptions_qr_token_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_qr_token_key UNIQUE (qr_token);


--
-- Name: records records_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.records
    ADD CONSTRAINT records_pkey PRIMARY KEY (id);


--
-- Name: tenant_memberships tenant_memberships_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tenant_memberships
    ADD CONSTRAINT tenant_memberships_pkey PRIMARY KEY (id);


--
-- Name: tenant_memberships uq_user_organization; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tenant_memberships
    ADD CONSTRAINT uq_user_organization UNIQUE (user_id, organization_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_appointments_doc_date_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_appointments_doc_date_status ON public.appointments USING btree (doctor_id, date, status);


--
-- Name: idx_appointments_org; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_appointments_org ON public.appointments USING btree (organization_id);


--
-- Name: idx_appointments_org_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_appointments_org_date ON public.appointments USING btree (organization_id, date);


--
-- Name: idx_audit_logs_event_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_event_type ON public.audit_logs USING btree (event_type);


--
-- Name: idx_audit_logs_org; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_org ON public.audit_logs USING btree (organization_id);


--
-- Name: idx_audit_logs_org_timestamp; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_org_timestamp ON public.audit_logs USING btree (organization_id, "timestamp" DESC);


--
-- Name: idx_audit_logs_unmined; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_audit_logs_unmined ON public.audit_logs USING btree (organization_id, is_mined) WHERE (is_mined = false);


--
-- Name: idx_blocks_org_index; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_blocks_org_index ON public.blocks USING btree (organization_id, index);


--
-- Name: idx_dispense_logs_item_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dispense_logs_item_id ON public.dispense_logs USING btree (item_id);


--
-- Name: idx_dispense_logs_org_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dispense_logs_org_id ON public.dispense_logs USING btree (pharmacy_org_id);


--
-- Name: idx_dispense_logs_rx_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_dispense_logs_rx_id ON public.dispense_logs USING btree (prescription_id);


--
-- Name: idx_kmpdc_license_num; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_kmpdc_license_num ON public.kmpdc_registry USING btree (license_number);


--
-- Name: idx_kmpdc_org_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_kmpdc_org_id ON public.kmpdc_registry USING btree (organization_id);


--
-- Name: idx_licenses_client_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_licenses_client_id ON public.licenses USING btree (client_id);


--
-- Name: idx_licenses_org; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_licenses_org ON public.licenses USING btree (organization_id);


--
-- Name: idx_nck_org_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_nck_org_id ON public.nck_registry USING btree (organization_id);


--
-- Name: idx_organizations_org_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_organizations_org_type ON public.organizations USING btree (org_type);


--
-- Name: idx_organizations_slug; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_organizations_slug ON public.organizations USING btree (slug);


--
-- Name: idx_organizations_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_organizations_status ON public.organizations USING btree (status);


--
-- Name: idx_patient_consents_grantee; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_patient_consents_grantee ON public.patient_consents USING btree (doctor_id, status);


--
-- Name: idx_patient_consents_lookup; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_patient_consents_lookup ON public.patient_consents USING btree (patient_id, doctor_id, organization_id, status);


--
-- Name: idx_payments_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_created_at ON public.payments USING btree (created_at DESC);


--
-- Name: idx_payments_customer_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_customer_email ON public.payments USING btree (customer_email);


--
-- Name: idx_payments_org; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_org ON public.payments USING btree (organization_id);


--
-- Name: idx_payments_reference; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_reference ON public.payments USING btree (reference);


--
-- Name: idx_payments_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_status ON public.payments USING btree (status);


--
-- Name: idx_payments_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_user_id ON public.payments USING btree (user_id);


--
-- Name: idx_ppb_premises_county; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ppb_premises_county ON public.ppb_premises USING btree (county);


--
-- Name: idx_ppb_premises_license; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ppb_premises_license ON public.ppb_premises USING btree (upper(license_number));


--
-- Name: idx_ppb_premises_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_ppb_premises_status ON public.ppb_premises USING btree (status);


--
-- Name: idx_practitioner_attestations_hash; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_practitioner_attestations_hash ON public.practitioner_attestations USING btree (license_hash);


--
-- Name: idx_practitioner_attestations_org; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_practitioner_attestations_org ON public.practitioner_attestations USING btree (organization_id);


--
-- Name: idx_practitioner_attestations_practitioner; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_practitioner_attestations_practitioner ON public.practitioner_attestations USING btree (practitioner_id);


--
-- Name: idx_prescription_items_rx_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prescription_items_rx_id ON public.prescription_items USING btree (prescription_id);


--
-- Name: idx_prescriptions_doctor_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prescriptions_doctor_id ON public.prescriptions USING btree (doctor_id);


--
-- Name: idx_prescriptions_org_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prescriptions_org_id ON public.prescriptions USING btree (organization_id);


--
-- Name: idx_prescriptions_patient_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prescriptions_patient_id ON public.prescriptions USING btree (patient_id);


--
-- Name: idx_prescriptions_qr_token; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prescriptions_qr_token ON public.prescriptions USING btree (qr_token);


--
-- Name: idx_prescriptions_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_prescriptions_status ON public.prescriptions USING btree (status);


--
-- Name: idx_records_ipfs_hash; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_records_ipfs_hash ON public.records USING btree (ipfs_hash) WHERE ((ipfs_hash IS NOT NULL) AND ((ipfs_hash)::text <> ''::text));


--
-- Name: idx_records_is_demo_data; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_records_is_demo_data ON public.records USING btree (is_demo_data);


--
-- Name: idx_records_org; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_records_org ON public.records USING btree (organization_id);


--
-- Name: idx_records_tx_hash; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_records_tx_hash ON public.records USING btree (transaction_hash) WHERE ((transaction_hash IS NOT NULL) AND ((transaction_hash)::text <> ''::text));


--
-- Name: idx_records_unmined; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_records_unmined ON public.records USING btree (organization_id, is_mined) WHERE (is_mined = false);


--
-- Name: idx_tenant_memberships_org; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tenant_memberships_org ON public.tenant_memberships USING btree (organization_id);


--
-- Name: idx_tenant_memberships_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tenant_memberships_role ON public.tenant_memberships USING btree (role);


--
-- Name: idx_tenant_memberships_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_tenant_memberships_user ON public.tenant_memberships USING btree (user_id);


--
-- Name: idx_users_doctor_phone; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_doctor_phone ON public.users USING btree (((doctor_profile ->> 'phone'::text))) WHERE (doctor_profile IS NOT NULL);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_org; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_org ON public.users USING btree (organization_id);


--
-- Name: idx_users_patient_phone; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_patient_phone ON public.users USING btree (((patient_profile ->> 'phone'::text))) WHERE (patient_profile IS NOT NULL);


--
-- Name: idx_users_reset_token; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_reset_token ON public.users USING btree (reset_password_token) WHERE (reset_password_token IS NOT NULL);


--
-- Name: organizations trg_protect_production_organizations; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_protect_production_organizations BEFORE DELETE ON public.organizations FOR EACH ROW EXECUTE FUNCTION public.protect_production_organizations();


--
-- Name: appointments appointments_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: appointments appointments_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: appointments appointments_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.appointments
    ADD CONSTRAINT appointments_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: blocks blocks_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.blocks
    ADD CONSTRAINT blocks_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: dispense_logs dispense_logs_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dispense_logs
    ADD CONSTRAINT dispense_logs_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.prescription_items(id) ON DELETE SET NULL;


--
-- Name: dispense_logs dispense_logs_pharmacist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dispense_logs
    ADD CONSTRAINT dispense_logs_pharmacist_id_fkey FOREIGN KEY (pharmacist_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: dispense_logs dispense_logs_pharmacy_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dispense_logs
    ADD CONSTRAINT dispense_logs_pharmacy_org_id_fkey FOREIGN KEY (pharmacy_org_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: dispense_logs dispense_logs_prescription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.dispense_logs
    ADD CONSTRAINT dispense_logs_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES public.prescriptions(id) ON DELETE RESTRICT;


--
-- Name: kmpdc_registry kmpdc_registry_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.kmpdc_registry
    ADD CONSTRAINT kmpdc_registry_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: licenses licenses_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.licenses
    ADD CONSTRAINT licenses_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: nck_registry nck_registry_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nck_registry
    ADD CONSTRAINT nck_registry_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: patient_consents patient_consents_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patient_consents
    ADD CONSTRAINT patient_consents_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: patient_consents patient_consents_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patient_consents
    ADD CONSTRAINT patient_consents_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: patient_consents patient_consents_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.patient_consents
    ADD CONSTRAINT patient_consents_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payments payments_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: payments payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: practitioner_attestations practitioner_attestations_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practitioner_attestations
    ADD CONSTRAINT practitioner_attestations_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: practitioner_attestations practitioner_attestations_practitioner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.practitioner_attestations
    ADD CONSTRAINT practitioner_attestations_practitioner_id_fkey FOREIGN KEY (practitioner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: prescription_items prescription_items_dispensed_by_org_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prescription_items
    ADD CONSTRAINT prescription_items_dispensed_by_org_id_fkey FOREIGN KEY (dispensed_by_org_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: prescription_items prescription_items_dispensed_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prescription_items
    ADD CONSTRAINT prescription_items_dispensed_by_user_id_fkey FOREIGN KEY (dispensed_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: prescription_items prescription_items_prescription_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prescription_items
    ADD CONSTRAINT prescription_items_prescription_id_fkey FOREIGN KEY (prescription_id) REFERENCES public.prescriptions(id) ON DELETE CASCADE;


--
-- Name: prescriptions prescriptions_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: prescriptions prescriptions_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE RESTRICT;


--
-- Name: prescriptions prescriptions_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.prescriptions
    ADD CONSTRAINT prescriptions_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: records records_doctor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.records
    ADD CONSTRAINT records_doctor_id_fkey FOREIGN KEY (doctor_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: records records_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.records
    ADD CONSTRAINT records_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: records records_patient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.records
    ADD CONSTRAINT records_patient_id_fkey FOREIGN KEY (patient_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: tenant_memberships tenant_memberships_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tenant_memberships
    ADD CONSTRAINT tenant_memberships_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE CASCADE;


--
-- Name: tenant_memberships tenant_memberships_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tenant_memberships
    ADD CONSTRAINT tenant_memberships_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id) ON DELETE SET NULL;


--
-- Name: appointments; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.appointments ENABLE ROW LEVEL SECURITY;

--
-- Name: audit_logs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: blocks; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.blocks ENABLE ROW LEVEL SECURITY;

--
-- Name: dispense_logs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.dispense_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: licenses; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.licenses ENABLE ROW LEVEL SECURITY;

--
-- Name: nck_registry; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.nck_registry ENABLE ROW LEVEL SECURITY;

--
-- Name: appointments p_appointments_clinic_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_appointments_clinic_access ON public.appointments USING ((organization_id = public.get_current_org_id()));


--
-- Name: appointments p_appointments_patient_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_appointments_patient_access ON public.appointments USING ((patient_id = public.get_current_user_id()));


--
-- Name: appointments p_appointments_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_appointments_super_admin ON public.appointments USING (public.is_super_admin());


--
-- Name: audit_logs p_audit_logs_clinic_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_audit_logs_clinic_access ON public.audit_logs FOR SELECT USING ((organization_id = public.get_current_org_id()));


--
-- Name: audit_logs p_audit_logs_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_audit_logs_insert ON public.audit_logs FOR INSERT WITH CHECK (true);


--
-- Name: audit_logs p_audit_logs_patient_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_audit_logs_patient_access ON public.audit_logs FOR SELECT USING ((patient_id = public.get_current_user_id()));


--
-- Name: audit_logs p_audit_logs_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_audit_logs_super_admin ON public.audit_logs USING (public.is_super_admin());


--
-- Name: audit_logs p_audit_logs_update; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_audit_logs_update ON public.audit_logs FOR UPDATE USING ((public.is_super_admin() OR (organization_id = public.get_current_org_id()) OR (organization_id IS NULL))) WITH CHECK ((public.is_super_admin() OR (organization_id = public.get_current_org_id()) OR (organization_id IS NULL)));


--
-- Name: blocks p_blocks_clinic_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_blocks_clinic_access ON public.blocks USING ((organization_id = public.get_current_org_id()));


--
-- Name: blocks p_blocks_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_blocks_super_admin ON public.blocks USING (public.is_super_admin());


--
-- Name: dispense_logs p_dispense_logs_scoped; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_dispense_logs_scoped ON public.dispense_logs USING (((pharmacy_org_id = public.get_current_org_id()) OR (EXISTS ( SELECT 1
   FROM public.prescriptions p
  WHERE ((p.id = dispense_logs.prescription_id) AND ((p.organization_id = public.get_current_org_id()) OR (p.patient_id = public.get_current_user_id())))))));


--
-- Name: dispense_logs p_dispense_logs_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_dispense_logs_super_admin ON public.dispense_logs USING (public.is_super_admin());


--
-- Name: licenses p_licenses_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_licenses_super_admin ON public.licenses USING (public.is_super_admin());


--
-- Name: licenses p_licenses_tenant_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_licenses_tenant_admin ON public.licenses FOR SELECT USING ((organization_id = public.get_current_org_id()));


--
-- Name: tenant_memberships p_memberships_clinic_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_memberships_clinic_access ON public.tenant_memberships USING ((organization_id = public.get_current_org_id()));


--
-- Name: tenant_memberships p_memberships_self; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_memberships_self ON public.tenant_memberships USING ((user_id = public.get_current_user_id())) WITH CHECK ((user_id = public.get_current_user_id()));


--
-- Name: tenant_memberships p_memberships_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_memberships_super_admin ON public.tenant_memberships USING (public.is_super_admin());


--
-- Name: nck_registry p_nck_registry_read; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_nck_registry_read ON public.nck_registry FOR SELECT USING (true);


--
-- Name: nck_registry p_nck_registry_write; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_nck_registry_write ON public.nck_registry USING ((current_setting('app.user_role'::text, true) = 'super_admin'::text));


--
-- Name: payments p_payments_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_payments_super_admin ON public.payments USING (public.is_super_admin());


--
-- Name: payments p_payments_tenant_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_payments_tenant_access ON public.payments USING (((organization_id = public.get_current_org_id()) OR (user_id = public.get_current_user_id()))) WITH CHECK (((organization_id = public.get_current_org_id()) OR (user_id = public.get_current_user_id()) OR public.is_super_admin()));


--
-- Name: ppb_premises p_ppb_premises_read; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_ppb_premises_read ON public.ppb_premises FOR SELECT USING (true);


--
-- Name: ppb_premises p_ppb_premises_write; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_ppb_premises_write ON public.ppb_premises USING ((current_setting('app.user_role'::text, true) = 'super_admin'::text));


--
-- Name: practitioner_attestations p_practitioner_attestations_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_practitioner_attestations_insert ON public.practitioner_attestations FOR INSERT WITH CHECK (((current_setting('app.user_role'::text, true) = 'super_admin'::text) OR (practitioner_id = (NULLIF(current_setting('app.current_user_id'::text, true), ''::text))::uuid)));


--
-- Name: practitioner_attestations p_practitioner_attestations_select; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_practitioner_attestations_select ON public.practitioner_attestations FOR SELECT USING (((current_setting('app.user_role'::text, true) = 'super_admin'::text) OR (practitioner_id = (NULLIF(current_setting('app.current_user_id'::text, true), ''::text))::uuid) OR (organization_id = (NULLIF(current_setting('app.current_org_id'::text, true), ''::text))::uuid) OR (is_valid = true)));


--
-- Name: practitioner_attestations p_practitioner_attestations_update; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_practitioner_attestations_update ON public.practitioner_attestations FOR UPDATE USING (((current_setting('app.user_role'::text, true) = 'super_admin'::text) OR (practitioner_id = (NULLIF(current_setting('app.current_user_id'::text, true), ''::text))::uuid)));


--
-- Name: prescription_items p_prescription_items_pharmacist; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_prescription_items_pharmacist ON public.prescription_items USING (public.is_pharmacist());


--
-- Name: prescription_items p_prescription_items_scoped; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_prescription_items_scoped ON public.prescription_items USING ((EXISTS ( SELECT 1
   FROM public.prescriptions p
  WHERE ((p.id = prescription_items.prescription_id) AND ((p.organization_id = public.get_current_org_id()) OR (p.patient_id = public.get_current_user_id()))))));


--
-- Name: prescription_items p_prescription_items_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_prescription_items_super_admin ON public.prescription_items USING (public.is_super_admin());


--
-- Name: prescriptions p_prescriptions_org_staff; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_prescriptions_org_staff ON public.prescriptions USING ((organization_id = public.get_current_org_id()));


--
-- Name: prescriptions p_prescriptions_patient_select; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_prescriptions_patient_select ON public.prescriptions FOR SELECT USING ((patient_id = public.get_current_user_id()));


--
-- Name: prescriptions p_prescriptions_pharmacist; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_prescriptions_pharmacist ON public.prescriptions USING (public.is_pharmacist());


--
-- Name: prescriptions p_prescriptions_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_prescriptions_super_admin ON public.prescriptions USING (public.is_super_admin());


--
-- Name: records p_records_clinic_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_records_clinic_access ON public.records USING ((organization_id = public.get_current_org_id()));


--
-- Name: records p_records_patient_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_records_patient_access ON public.records FOR SELECT USING ((patient_id = public.get_current_user_id()));


--
-- Name: records p_records_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_records_super_admin ON public.records USING (public.is_super_admin());


--
-- Name: users p_users_clinic_staff; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_users_clinic_staff ON public.users FOR SELECT USING ((((organization_id IS NOT NULL) AND (organization_id = public.get_current_org_id())) OR (id IN ( SELECT tenant_memberships.user_id
   FROM public.tenant_memberships
  WHERE ((tenant_memberships.organization_id = public.get_current_org_id()) AND ((tenant_memberships.status)::text = 'active'::text))))));


--
-- Name: users p_users_pharmacist_patient_access; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_users_pharmacist_patient_access ON public.users FOR SELECT USING ((public.is_pharmacist() AND (id IN ( SELECT prescriptions.patient_id
   FROM public.prescriptions))));


--
-- Name: users p_users_self; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_users_self ON public.users USING ((id = public.get_current_user_id()));


--
-- Name: users p_users_super_admin; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_users_super_admin ON public.users USING (public.is_super_admin());


--
-- Name: users p_users_view_approved_doctors; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY p_users_view_approved_doctors ON public.users FOR SELECT USING ((((role)::text = 'doctor'::text) AND (is_approved = true)));


--
-- Name: patient_consents; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.patient_consents ENABLE ROW LEVEL SECURITY;

--
-- Name: payments; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.payments ENABLE ROW LEVEL SECURITY;

--
-- Name: ppb_premises; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.ppb_premises ENABLE ROW LEVEL SECURITY;

--
-- Name: practitioner_attestations; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.practitioner_attestations ENABLE ROW LEVEL SECURITY;

--
-- Name: prescription_items; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.prescription_items ENABLE ROW LEVEL SECURITY;

--
-- Name: prescriptions; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.prescriptions ENABLE ROW LEVEL SECURITY;

--
-- Name: records; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.records ENABLE ROW LEVEL SECURITY;

--
-- Name: patient_consents rls_patient_consents_insert; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rls_patient_consents_insert ON public.patient_consents FOR INSERT WITH CHECK (((current_setting('app.user_role'::text, true) = 'super_admin'::text) OR (patient_id = (NULLIF(current_setting('app.current_user_id'::text, true), ''::text))::uuid)));


--
-- Name: patient_consents rls_patient_consents_select; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rls_patient_consents_select ON public.patient_consents FOR SELECT USING (((current_setting('app.user_role'::text, true) = 'super_admin'::text) OR (patient_id = (NULLIF(current_setting('app.current_user_id'::text, true), ''::text))::uuid) OR (doctor_id = (NULLIF(current_setting('app.current_user_id'::text, true), ''::text))::uuid) OR (organization_id = (NULLIF(current_setting('app.current_org_id'::text, true), ''::text))::uuid)));


--
-- Name: patient_consents rls_patient_consents_update; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY rls_patient_consents_update ON public.patient_consents FOR UPDATE USING (((current_setting('app.user_role'::text, true) = 'super_admin'::text) OR (patient_id = (NULLIF(current_setting('app.current_user_id'::text, true), ''::text))::uuid)));


--
-- Name: tenant_memberships; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.tenant_memberships ENABLE ROW LEVEL SECURITY;

--
-- Name: users; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.users ENABLE ROW LEVEL SECURITY;

--
-- PostgreSQL database dump complete
--

\unrestrict GiZAoPgKAE95RzyFbUJ35lGK0Q2SOnuPhm2LcgyhhYX2ujQj3NsNvfxmPvEZZLc

